.select {
  max-height: 2.4em;
  font-size: 0.9em;
  padding: 0.4em;
  border: 0.15em solid rgba(0, 0, 0, 0.2);
  background-color: #ddd;
  cursor: pointer;
  border-radius: 0.4em;
  font-weight: 500;
}