.card {
  max-width: 22em;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  border: 0.2em solid rgba(255, 113, 113, 0.75);
  border-radius: 10px;
  padding: 1.5em 1em;

  margin: 1em;

  &__title {
    font-size: 1.1em;
    font-weight: 500;
    user-select: none;
  }

  &__text {
    font-size: 0.9em;
    user-select: none;

    // margin-top: 0.6em;
  }

  &__button {
    font-size: 0.9em;

    // margin-top: 1em;
    &:not(:first-of-type) {
      margin-left: 0.4em;
    }
  }

  &__select {
    margin-left: 0.4em;
  }

  &__alert {
    &:not(:first-child) {
      margin-left: 0.4em;
    }
  }
}
